.products {
    display: grid;
    gap: 22px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 42px;
  }
  
  .product-card {
    background: #fff;
    border-radius: 24px;
    cursor: pointer;
    padding: 14px 17px 30px;
    position: relative;
  }
  
  .product-card img {
    width: 100%;
    border-radius: 10px;
    // width: 128;
    // height: 128;
  }
  
  .product-card h3 {
    margin-top: 10px;
  }
  
  .product-card button {
    background-color: #008cff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }