/* Стили для модального окна */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 40vw; /* 40% ширины экрана */
    height: 40vh; /* 40% высоты экрана */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}

.modal-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    background-color: #008cff;
    color: white;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #005bb5; /* Темнее при наведении */
}
